# Entorno virtual
env/

# Base de datos
db.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos estáticos recolectados (para producción)
staticfiles/

# Archivos de media subidos por usuarios
media/

# Archivos de configuración de VS Code
.vscode/